.bg-nav{
    background-color: #333333
}
body {
    color: #230140 !important
}
* {
    font-family: 'Kanit', sans-serif;
}
.card-act {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: green;
    background-clip: border-box;
}
.con {
    text-align: center;
    border: solid gray 1.5px;
    border-radius: 10px;
    padding: 1.5%;
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 2%; 
}
.t-incard{
    text-align: center;
    vertical-align: middle;
    line-height: 4rem; 
}
.d{
    left: -71%;
}