.bg-nav{
    background-color: #333333
}
* {
    font-family: 'Kanit', sans-serif !important;
}
.card-act {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 10%;
    height: 50%;
    word-wrap: break-word;
    background-color: green;
    background-clip: border-box;
    float: left;
    border: solid black 1px;
    height: 90px;
    margin-left: 10%;
    overflow: scroll;
}
.emp-card {
    background-color: white;
}
.con {
    text-align: center;
    border: solid gray 1.5px;
    border-radius: 10px;
    padding: 1.5%;
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 2%; 
    padding: 50px 0 50px  0;
    min-height: -webkit-fill-available;
}
.t-incard{
    text-align: center;
    width: 100%;
    color: black;
    font-size: 15px;
    text-align: center;
    vertical-align: middle;
    line-height: 4rem; 
}
.d{
    left: -71%;
}
.mar-block{
    width: 25%;
    height: 100%;
    background-color: peachpuff;
    float: left;
}
.nav-code{
    font-size: 16px;
    color: black;
    height: 8%;
    text-align: left;
    padding-left: 10%;
}
.img-pro{
    width: 30px;
    height: 30px;
    border-radius: 100%;
    object-fit: cover;
}
.up-pig{
    margin-left: 12%; 
    color: #707070;
    vertical-align: -webkit-baseline-middle;
    
}
.div-up{
    width: 100%;
}
.card-act-add {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 10%;
    height: 50%;
    word-wrap: break-word;
    background-color: white;
    background-clip: border-box;
    float: left;
    border: solid black 1px;
    height: 90px;
    margin-left: 10%;
    overflow: scroll;
}
.add-icon {
    width: 40%;
    object-fit: cover;
    margin-left: 30%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.modal-form {
    text-align: left
}
.modal-label {
    padding-top: calc(.375rem + 1px);
    padding-bottom: calc(.375rem + 1px);
    margin-bottom: 0;
    font-size: inherit;
    line-height: 1.5;
    /* margin-left: 5%; */
}
.report-box {
    width: 100%;
}
.report-box > textarea{
    width: 100%;
    height: 25vh;
    
}

