*{
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    background-image: url('image1.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
    font-family: 'Kanit', sans-serif;
}
.bg-nav{
    background-color: #333333;
}
.box{
    margin-left: 15%;
    margin-right: 15%;
    padding: 50px;
    text-align: center;
    background-color: #ffffff;
    box-sizing: border-box;
    border-radius: 5px;
}
input[name='shopnm']{
    width: 100%;
    padding: 5px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 20px;
    margin-bottom: 20px;
    background-color: #FE8160;
    color: white;
}
label[for='shopnm']{
    margin-top: 25%;
    margin-right: 40%;
    font-size: 20px;
    color: black;
}
.column {
    float: left;
    width: 26.5%;
    padding: 5px;
    margin-top : 20px;
    margin-left: 6%;
}
/* Clearfix (clear floats) */
.row::after {
    content: "";
    clear: both;
    display: table;
}
/* Adjust color position of submit button */
input[type='submit']{
    margin-right: 65%;
    opacity: 1;
    background-color: #FE8160;
    color: white;
    padding: 12px 20px;
    margin-top: 20px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}
/* when cursor on submit button make it less opacity */
input[type='submit']:hover {
    opacity: 0.8;
}
/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
    color: white;
    border: none;
    cursor: pointer;
    opacity: 1;
  }
  
  /* The popup form - hidden by default */
  .form-popup {
    display: none;
    left: 27.5%;
    top: 25%;
    border-radius: 4px;
    position: fixed;
    border: 3px solid #f1f1f1;
    z-index: 9;
  }
  
  /* Add styles to the form container */
  .form-container {
    max-width: 800px;
    padding: 30px;
    background-color: white;
  }
  
  /* Full-width input fields */
  .form-container input[type=text], .form-container input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
  }
  
  /* When the inputs get focus, do something */
  .form-container input[type=text]:focus, .form-container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }
  
  /* Set a style for the submit/login button */
.form-container .btn {
    margin-right: 65%;
    opacity: 1;
    background-color: #FE8160;
    color: white;
    padding: 12px 20px;
    margin-top: 20px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}
.form-container h1{
    float: left;
    margin-bottom: 20px;
}
.close{
    float: right;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.form-container input[type='submit']{
    margin-right: 65%;
    background-color: #FE8160;
    color: white;
    padding: 12px 20px;
    margin-top: 5px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}
.overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */    
    height: 100%;
    width: 0;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgb(0,0,0); /* Black fallback color */
    background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
    overflow-x: hidden;
  }
.box1{
    float: left;
    margin: 10px 50px 50px 50px;
    width: 50%;
    height: 50%;
    background-color: purple;
    border-radius: 5px;
}
.column2{
    float: left;
    display: block;
    max-width: 20%;
    max-height: 20%;
    padding: 10px;
    margin-left: 25px;
    box-sizing: border-box;
}
.column2 img{
    float: left;
    max-width: 100px;
    max-height: 100px;
    height: 200px;
    width: 200px;
    object-fit: cover;
    opacity: 0.8; 
    cursor: pointer;
}
.mg1{
    margin-left: 5%;
}
#expandedImg{
    max-width: 100%;
    max-height: 550px;
    height: 500px;
    object-fit: cover;
    margin-top: 20px;
    border-radius: 5px;
}
/* Style the images inside the grid */
.column2 img:hover {
    opacity: 1;
}
.box2{
    float: left;
    margin-top: 50px;
    width: 30%;
    max-width: 30%;
    max-height: 30%;
}
label[for='Phone']{
    margin-right: 50%;
    font-size: 20px;
    color: black;
}
input[name='Phone']{
    width: 100%;
    padding: 5px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 20px;
    background-color: #FE8160;
    color: white;
}
.container2{
    float: left;
}
.container3{
    float: left;
    width: 20%;
    margin-top: 14%;
    margin-left: 30px;
    max-width: 20%;
    max-height: 20%;
    height: 20%;
    object-fit: cover;
}
textarea {
    width: 740px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}
.abtshop{
    float: left;
    width: 100%;
    margin-top: 45px;
}
label[for='abtshop']{
    margin-right: 50%;
    font-size: 20px;
    color: black;
}
.abtshop textarea{
    max-width: 620px;
    width: 620px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: vertical;
    background-color: #FE8160;
    color: white;
    font-size: 20px;
}
.prev{
    float: left;
    cursor: pointer;
    font-weight: bold;
    font-size: 50px;
    box-sizing: border-box;
    border-radius: 0 3px 3px 0;
    margin-top: 20px;
    margin-left: 15%;
    user-select: none;
  -webkit-user-select: none;
}
.next{
    float: right;
    cursor: pointer;
    font-weight: bold;
    font-size: 50px;
    box-sizing: border-box;
    border-radius: 0 3px 3px 0;
    margin-top: 20px;
    margin-left: 5%;
}
.container{
    position: relative;
    display: none;
}