*{
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    background-color: red;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
    font-family: 'Kanit', sans-serif;
}
.bg-nav{
    background-color: #333333;
}
input[class='input1']{
    width: 75%;
    padding: 3px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 20px;
    margin-bottom: 20px;
    background-color: #FE8160;
    color: white;
}
label[for='shopnm1']{
    margin-top: 5%;
    margin-right: 64%;
    font-size: 20px;
    color: grey;
}
input[class='input2']{
    width: 75%;
    padding: 3px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 20px;
    margin-bottom: 20px;
    background-color: #FE8160;
    color: white;
}
label[for='abshop1']{
    margin-top: 10px;
    margin-right: 63.5%;
    font-size: 20px;
    color: grey;
}
/* Adjust color position of submit button */
input[type='submit']{
    margin-right: 64.5%;
    opacity: 1;
    background-color: #FE8160;
    color: white;
    padding: 12px 20px;
    margin-top: 20px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}
.txtar1 {
    width: 100%;
    padding: 5px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 15px;
}
label[class='promo1']{
    margin-top: 10px;
    margin-right: 63.5%;
    font-size: 20px;
    color: grey;
}
.container12{
    float: left;
}
.shope-promo {
    width: 100%;
    height: 210px;
}
.arr{
    margin-left: 1%;
    float: left;
    height: 28%;
    width: 32%;
    object-fit: cover;
}
.ed-box-edit{
    width: 80%;
    border-left: solid #707070 1px;
    border-right: solid #707070 1px;
    border-bottom: solid #707070 1px;
    margin-left: 15%;
    margin-right: 15%;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 10%;
    padding-right: 10%;
    text-align: left;
    background-color: #ffffff;
    box-sizing: border-box;
    border-radius: 0px 0px 5px 5px;
}
.ed-box-edit h1{
    padding-top: 10px;
    padding-bottom: 10px;
}